html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(images/Home.png);
    background-repeat: no-repeat;
    background-size:120%;
}

.window {
  position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.icon-button,
.icon-button:focus,
.icon-button:active,
.icon-button:hover {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

.icon-button img {
  width: 48px;
  height: 48px;
  display: block;
  pointer-events: none;
}


#loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw; 
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loadingbar {
    width: 200px;
}

#start{
    display: none;
}

@keyframes load-fill {
  from { value: 0%; }
  to { value: 100%; }
}

.progressbar-inner {
  height: 16px;
  animation: load-fill 3s linear forwards;
}

